.container {
  display: flex;
  flex-direction: column;
  padding-left: 10vw;
}

.title {
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: var(--background-color);
}
.describe {
  line-height: 20px;
  font-size: 15px;
  font-weight: 400;
  color: var(--background-color);
}

@media screen and (max-width: 688px) {
  .container {
    display: none;
  }
}
