.container {
  margin-left: 16px;
  margin-right: 16px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
}
.ml12 {
  margin-left: 12px;
}
.login {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(255, 255, 255, 0.35);
}
.reg {
  background-color: rgb(239, 243, 244);
  border-color: rgba(0, 0, 0, 0);
}
.login > div {
  color: var(--background-color);
}
.reg > div {
  color: var(--text-color);
}
.textWrapper {
  display: flex;
  text-align: center;
  line-height: 20px;
  font-size: 15px;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.btn {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  border-radius: 9999px;
  border-style: solid;
  border-width: 1px;
  padding-left: 16px;
  padding-right: 16px;
  user-select: none;
  min-height: 36px;
  min-width: 36px;
  cursor: pointer;
}
.reg:hover {
  background-color: rgb(215, 219, 220);
}
.login:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 688px) {
  .container {
    width: 100%;
  }
  .ml12 {
    flex: 1;
  }
}
