.container {
  display: flex;
  flex-direction: column;
  bottom: 0px;
  left: 0px;
  position: fixed;
  right: 0px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px,
    rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
}
.content {
  display: flex;
  margin-bottom: 12px;
  margin-top: 12px;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 12px;
}
.main {
  display: flex;
  flex-direction: row;
  width: 990px;
  align-items: center;
  justify-content: space-between;
}
