.container {
  padding-bottom: 2px;
  padding-top: 2px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  min-width: 32px;
}
.container a {
  display: flex;
  user-select: none;
  cursor: pointer;
  min-height: 52px;
  min-width: 52px;
}
.wrapper {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
