.container {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding-left: 11px;
  padding-right: 11px;
  padding-bottom: 4px;
  padding-top: 4px;
  margin-bottom: 11px;
  background-color: rgb(247, 249, 249);
}
